extends layout

block content
	h1 Walthamstow wildlife kennings

	div.content-block

		h2 Introduction
		p	blurb

	div.content-block

		h2 The wildlife trail map
		p Map of Walthamstow marshes here

	div.content-block

		h2 Your sightings

		div.user-feed
			div.user-item
				p tweet
			div.user-item
				p instagram
			div.user-item
				p tweet
			div.user-item
				p instagram
