doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCqnmll-BZIOL9GTlBv6Ua0N-1EIjmkWg&sensor=true")
		
	body
		div.title
			h1 Eight legged nature trail
			p.date Sunday 31st May, Sunday 7th June, & Sunday 14th June at 10am-12.30pm
		div.navigation
			div.content-block.nav-block

				a.nav-link(href='#introduction') Introduction
				a.nav-link(href="#map") Trail Map
				a.nav-link(href="#sightings") Sightings
		block content

	script(src="javascripts/masonry.pkgd.min.js")
	script(src="javascripts/imagesloaded.pkgd.min.js")
	script(src="javascripts/layout.js")