doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(src="javascripts/masonry.pkgd.min.js")
  script(src="javascripts/imagesloaded.pkgd.min.js")
  script(src="javascripts/layout.js")