@import "compass/css3";


@font-face {
  font-family: 'albertus_mediumregular';
  src: url('Albertus Medium Regular-webfont.eot');
  src: url('Albertus Medium Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('Albertus Medium Regular-webfont.woff2') format('woff2'),
       url('Albertus Medium Regular-webfont.woff') format('woff'),
       url('Albertus Medium Regular-webfont.ttf') format('truetype'),
       url('Albertus Medium Regular-webfont.svg#albertus_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

//utils

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
  font: 16px Helvetica, arial, sans-serif;
  line-height: 24px;
  background: #FEFAF7;
  color: #7F5F45;
  margin: 0;
  padding: 0;
}

a {
  color: #507F51;
}

p{
	color: #7F746B;
}
.date{
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding-bottom: 10px;
}
.title{
	background: #7F746B;
	margin: 0 auto;
}

	
.navigation{
	background: #507F51;
	margin: 0 auto;
	.text-block{
		background: none;
	}
}
.nav-link{
	display: inline-block;
	text-decoration: none;
	width: 300px;
	text-align: center;	
	text-transform: uppercase;
	padding: 10px 0;
	color: #fff;
	font-family: 'albertus_mediumregular', "albertus medium", georgia, serif;
}

.nav-link:hover, .nav-link:focus{
	color: #99c59a;
}

.content-block{
	width: 960px;
	margin: 0 auto;
	padding-bottom: 20px;
}
.top-block{
	padding-top: 40px;
}
.nav-block{
	padding-bottom: 0;

}
.masonry-layout{
	margin: 0 30px;
}

.text-block{
	background: #fff;
	padding: 10px 30px;
	margin: 0 30px 0 30px;
}

.masonry-block{
	background: none;
}

.user-item{
	display: inline-block;
	margin-bottom: 15px;
	p{
		margin:0 0 5px 0;
		font-size: 13px;
		word-wrap: break-word;
	}
	.caption a{
		color: #fff;
	}
	.caption a:hover, .caption a:focus{
		text-decoration: none;
	}
	.username, .title{
		font-size: 12px;
		color: #7F746B;
		opacity: 0.8;
	}
	.title{
		background: #507F51;
		color: #FEFAF7;
		padding: 0 5px;
		display: block;
	}
	img{
		max-width: 100%;
	}
}

.large-item{
	width: 306px;
}
.tweet-item, .small-item{
	width: 144px;
}
.instagram-item{
	position: relative;
	.username{
		padding: 3px;
		background: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.tweet-item{
	background: #7F746B;
	p{
		color: #FEFAF7;
		padding: 0 5px;
	} 
	.username{
		color: #FEFAF7;
	}
}

h1{
	font-family: 'albertus_mediumregular', "albertus medium", georgia, serif;
	text-transform: uppercase;
	text-align: center;
	padding: 20px;
	margin: 0;
	color: #fff;
	font-size: 2em;
}

h2, .tagline{
	color: #7F746B;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'albertus_mediumregular', "albertus medium", georgia, serif;
	text-transform: uppercase;
}

.tagline{
	text-align: center;
}

.float-img-left{
	float: left;
	margin: 0 20px 20px 0;
}

.float-img-right{
	float: right;
	margin: 0 0 20px 20px;
}

.map-block{
	margin: 30px;
}
.map-container{
	position: relative;
	width: 533px;
	height: 437px;
	margin: 0 auto;
}
#map-canvas{
	width: 533px;
	height: 437px;
	margin: 0 auto;
}
#route-layer{
		width: 533px;
		height: 437px;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0 auto;
		opacity: 0.5;
		background: url(../images/route-layer.png) 0 0 no-repeat;
		z-index: 2;
	}
#show-route button{
	text-align: center;
	width: 150px;
	margin: 0 auto 20px;
	display: block;
	color: #fff;
	background: #507F51;
	border: 0;
	font-size: 20px;
	font-family: 'albertus_mediumregular', "albertus medium", georgia, serif;
	padding: 10px;
	// position: absolute;
	// top:-20px;
}