@import "compass/css3";


@font-face {
  font-family: 'albertus_mediumregular';
  src: url('Albertus Medium Regular-webfont.eot');
  src: url('Albertus Medium Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('Albertus Medium Regular-webfont.woff2') format('woff2'),
       url('Albertus Medium Regular-webfont.woff') format('woff'),
       url('Albertus Medium Regular-webfont.ttf') format('truetype'),
       url('Albertus Medium Regular-webfont.svg#albertus_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

//utils

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
  font: 16px Helvetica, arial, sans-serif;
  line-height: 24px;
  background: #FEFAF7;
  color: #7F5F45;
}

a {
  color: #507F51;
}

p{
	color: #7F746B;
}

.content-block{
	width: 960px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.text-block{
	background: #fff;
	border: 1px solid #7F746B;
	padding: 10px 30px;
	border-radius: 2px;
	margin: 0 30px 30px 30px;
}

.user-item{
	display: inline-block;
	// margin: 10px;
}

h1{
	font-family: 'albertus_mediumregular', "albertus medium", georgia, serif;
	text-transform: uppercase;
	text-align: center;
	padding: 20px;
	color: #7F746B;
}

h2{
	margin-bottom: 30px;
	text-align: center;
	font-family: 'albertus_mediumregular', "albertus medium", georgia, serif;
	text-transform: uppercase;
}

.float-img-left{
	float: left;
	margin: 0 20px 20px 0;
}

.float-img-right{
	float: right;
	margin: 0 0 20px 20px;
}